
<div class="row">
    <div class="col-12">
        <h4 class="d-inline ">Gestion des Auteurs</h4>
        <div class="row mt-3 ">
            <div class="col-lg-12 col-md-12" >
                <div class="card p-4">
                    <ng2-smart-table [settings]="settings" 
                    (createConfirm)="ajouter($event)"
                    (deleteConfirm)="onDeleteConfirm($event)"
                    (editConfirm)="modifier($event)"  
                    class="table table-striped table-hover table-bordered"  [source]="auteurs"></ng2-smart-table>
                </div>

            </div>

        </div>
    </div>
</div>
