
  <div class="limiter">
    <div class="container-login100" >
      <div class="wrap-login100">
        <form action="" class="login100-form validate-form" #registerForm="ngForm" (ngSubmit)="register()">
          <a><span class="login100-form-title p-b-50">
            Test Full Stack 
            </span>
          </a>

          <div class="wrap-input100 validate-input m-b-37">
            <input type="text" [(ngModel)]="user.nom" class="input100" name="nom" />
            <span class="focus-input100" data-placeholder="nom"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-37">
            <input type="text" [(ngModel)]="user.prenom" class="input100" name="prenom" />
            <span class="focus-input100" data-placeholder="prenom"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-37" >
            <input type="email" class="input100" [(ngModel)]="user.email" name="email" />
            <span class="focus-input100" data-placeholder="Email"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Enter password">
            <span class="btn-show-pass">
              <i class="zmdi zmdi-eye"></i>
            </span>
            <input class="input100" type="password" [(ngModel)]="user.password" name="password" />
            <span class="focus-input100" data-placeholder="Password"></span>
          </div>
          <div class="wrap-input100 validate-input m-b-37 mt-5" data-validate="Enter roles">
            <select class="input100"  [(ngModel)]="user.role" name="role" >
              <option value="admin">
                Admin
              </option>
              <option  value="employee" >
                Employee
              </option>
            </select>
            <span class="focus-input100" data-placeholder="roles"></span>
          </div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn">
                Sign Up
              </button>
            </div>
          </div>
          <div class="text-center p-t-50">
            <span class="txt3">
Already Have An Account ?            </span>

            <a class="txt3"   routerLink="/login">
              Login 
            </a>
          </div>

          <div class="text-center p-t-40">
            <p>
              &copy; .Copyright All Rights Reserved.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
