
<div id="main-wrapper" [ngClass]="{'show-sidebar': showMobileMenu}" dir="ltr" data-theme="light" data-layout="vertical"
    [attr.data-sidebartype]="sidebartype" data-sidebar-position="absolute" data-header-position="fixed"
    data-boxed-layout="full">
    <header class="topbar" data-navbarbg="skin6">
        <nav class="d-flex top-navbar navbar-expand-md navbar-light">
            <div class="navbar-header" [ngClass]="(expandLogo)?'expand-logo':''" data-logobg="skin6">

                <a (click)="showMobileMenu = !showMobileMenu" class="nav-toggler waves-effect waves-light d-block d-md-none"
                    href="javascript:void(0)">
                    <i [ngClass]="(showMobileMenu)?'ti-close':'ti-menu'"></i>
                </a>

                <a class="navbar-brand" href="/">
                    <b class="logo-icon">

                        <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                    </b>

                    <span class="logo-text">
                        <!-- Light Logo text -->
              Full Stack Test
                    </span>
                </a>

                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                    data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="ti-more"></i>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <app-navigation (toggleSidebar)="toggleSidebarType()" class="w-100"></app-navigation>
            </div>
        </nav>
    </header>

    <aside class="left-sidebar" data-sidebarbg="skin6" (mouseover)="Logo()" (mouseout)="Logo()">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar" [perfectScrollbar]="config"> 
            <app-sidebar></app-sidebar>
        </div>

    </aside>

    <div class="page-wrapper">

        <app-breadcrumb></app-breadcrumb>
        <div class="container-fluid">

            <router-outlet></router-outlet>
 
        </div>

        <footer class="footer text-center">
            2020 ©  <a href="https://www.wrappixel.com">Test Fullstack Angular / Nodejs</a>.
        </footer>

    </div>

</div>