:host /deep/ ng2-smart-table thead > tr > th  a { 
	text-align: center !important; 
    font-family:Open Sans, sans-serif;
    color:#000;
  

}


 :host /deep/ ng2-smart-table thead > tr > th a  .btn { 
	
    font-family:Open Sans, sans-serif;
    display: block;
    margin: auto;
    color:#778079;
}



 :host /deep/ ng2-smart-table thead > tr > th a  .btn:hover { 
	

    color:white;
}


 :host /deep/ ng2-smart-table tbody > tr > td:last-child .btne { 
   
   
     font-size: 20px;
     text-align:center !important; 
     color:gray;
 -webkit-text-stroke: 0.0002px gray;
}

 :host /deep/ ng2-smart-table tbody > tr > td:last-child .btnd { 
 
     font-size: 20px;
          color:gray;
 -webkit-text-stroke: 0.0002px gray;
 

}




 :host /deep/ ng2-smart-table tbody > tr > td:last-child .btne:hover { 

     font-size: 20px;
     text-align:center !important; 
     color:#5bc0de;
     font-weight:1px;

}

 :host /deep/ ng2-smart-table tbody > tr > td:last-child .btnd:hover { 
     font-size: 20px;
     text-align:center !important; 
     color:#f1211a;

}


:host/deep/ ng2-smart-table ng2-smart-table-pager nav{
    margin: 20px 0px;
    overflow: hidden;
    position: relative;
}


:host/deep/ ng2-smart-table ng2-smart-table-pager nav li {
float: left;
}

:host/deep/ ng2-smart-table ng2-smart-table-pager nav ul {
    float: left;
    left: 50%;
    position: relative;
}

:host/deep/ ng2-smart-table ng2-smart-table-pager nav ul > li{
      left: -50%;
    position: relative;

}

:host/deep/ ng2-smart-table ng2-smart-table-pager nav li a{
    transition: all 100ms ease-in-out 0s;
    background-color: #F7F7F8 !important;
    border-radius: 5px 5px 5px 5px;
    color: #69696E;
    display: block;
    font: 12px/30px Arial, sans-serif;
    height: 30px;
    margin: 2px 3px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30px;
}

:host/deep/ ng2-smart-table ng2-smart-table-pager .page-item.active .page-link{
    transition: all 100ms ease-in-out 0s;
    background-color:#778079!important;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    border-color:#778079;
    display: block;
    font: 12px/30px Arial, sans-serif;
    height: 30px;
    margin: 2px 3px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 30px;
}





:host/deep/ ng2-smart-table ng2-smart-table-pager nav li a:hover{
    background-color: #3ac47d63!important;
    color: #FFFFFF;
}






:host/deep/ ng2-smart-table ng2-smart-table-pager nav li a:hover{
    background-color: #FF8C00;
    color: #FFFFFF;
}