<div class="limiter">
  <div class="container-login100" style="background-image: url('../../public/img/background/bg_1.jpg');">
    <div class="wrap-login100">
      <form action="" class="login100-form validate-form" #loginForm="ngForm" (ngSubmit)="login()">
        <a><span class="login100-form-title p-b-50">
            Test Full Stack 
          </span>
        </a>
        <div class="wrap-input100 validate-input m-b-37" >
          <input [(ngModel)]="user.email" type="email" class="input100" name="email" />
          <span class="focus-input100" data-placeholder="email"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
 
          <input class="input100" type="password" name="pass" [(ngModel)]="user.password" />
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>

        <div class="text-right p-t-8 p-b-31">
          <a href="#">
            Forget Password ? </a>
        </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" [disabled]="!loginForm.valid">
              Login
            </button>
          </div>
        </div>
        <div class="text-center p-t-50">
          <span class="txt3">
            Dont Have An Account?
          </span>

          <a class="txt3" routerLink="/auth/register">
            SignUp </a>
        </div>

        <div class="text-center p-t-40">
          <p>
            &copy; .Copyright All Rights Reserved.
          </p>
        </div>
      </form>
    </div>
  </div>
</div>